.ceramic-title{
    color: #2A254B;
    font-size: 40px;
    font-weight:400;
}
.ceramiccard-container{
    padding: 0px 60px  ;
 
  
}
.card-body div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.card-body div{
    width: 100%;
    height: 200px;
  
}
.ceramic-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.ceramic-button button{
    height: 56px;
    width: 170px;
    background-color: #F9F9F9;
   font-size: 16px;
   color: #2A254B;
   border: none;
   outline: none;
   cursor: pointer;
}

.view-collectt{
    background-color:#F9F9F926;
    color: #fff;
    padding: 15px 30px;
    border-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}
.view-collectt:hover{
    background: linear-gradient(90deg, #2A254B, #2A254B);
   
    color: #fff;
    box-shadow: 0 0 20px rgba(218, 217, 221, 0.7);
    border-radius: 8px;
}
@media (min-width: 320px) and (max-width:767px){
    .ceramiccard-container{
        padding: 10px;
  
    }
    .ceramic-button{
     
        margin:0;
    }
 .ceramic-title{
    font-size: 20px;
 }
}
