.Products-title{
    color: #2A254B;
    font-size: 40px;
    font-weight:400;
    text-align: center;
}
.Productscard-container{
    padding: 100px  60px;
    display: flex;
    flex-direction: column;

}
.Products-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.Products-button button{
    height: 56px;
    width: 170px;
    background-color: #F9F9F9;
   font-size: 16px;
   color: #2A254B;
   border: none;
   outline: none;
   cursor: pointer;
}
.Productscards-container{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}
.Productscard {
    width: 300px;
    cursor: pointer;

  }
  .card-body-image img{
    width: 100%;
    height: 100%;
  }
  .card-body-image {

    height: 250px;
    width: 100%;

  }
  .filter-container{
    display: flex;
    align-items: center;
    padding:0 0 50px ;
    gap: 30px;
  }
  .filter-container select{
    border: none;
    color: #2A254B;
    font-size: 16px;
    outline: none;
  }
  .view-collectt{
    background-color:#F9F9F926;
    color: #fff;
    padding: 15px 30px;
    border-color: transparent;
  border: 1px solid;
    cursor: pointer;
  }

  .add-to-cart-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #141718;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .add-to-cart-btn:hover {
    background: #0e1214;
  }
  .add-to-cart-btn, .view-product-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #141718;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .view-product-btn {
    background: #007bff;
  }
  
  .add-to-cart-btn:hover, .view-product-btn:hover {
    transform: scale(1.05);
  }
  
@media (min-width: 320px) and (max-width: 800px) {
    .Productscard-container{
        flex-direction: column; 
        padding: 10px;

    }
    .Productscards-container{
     
      padding-bottom: 20px;
  }
     
      img{
        width: 100%;
        height: 250px;
        object-fit: fill;
      }
      .filter-container{
        display: flex;
        align-items: center;
        gap: 10px;
      }
  }