.aboutform-container{
    height: 444px;
    background-image: url("../../../assets/images/aboutpng.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}




.email-container {
   display: flex;

margin-top: 40px;
} 

.email-container input {
  width: 350px;
  background-color: #f5f5f5;
  padding: 10px;
  border-color: transparent;
  color: #000;
  font-size: 11px;
  outline: none;
  border-radius:0;
}


.email-container button {
  display: flex;
  background-color: #2A254B;
  color: #fff;
  padding: 15px 30px;
  border-color: transparent;
  cursor: pointer;
  outline: none;

}
.bene-side1{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.bene-side1 h1{
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}
.bene-side1 p{
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.benefit-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
}

.benefit-icon {
    color: white;
    font-size: 20px;
}
.benefit-form{
  
  display: flex;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .benefit{
  
    padding: 40px 10px;
  }
  .bene-side h1{
  text-align: center;
  }
  .email-container input {
    width: 150px;
  
  }
  .benefit-list{
  
    margin: 0;

 
  }
  .benefit-list span{
    font-size: 14px;
  }
  .aboutform-container{
    height: auto;
    padding: 0 10px ;
    margin: 30px 0;
 
}
 
}