.header-content {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



.header-top-container{
 
  padding: 20px 20px;
  border-bottom: 1px solid #0000001A;
}


.header-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.avion{
  text-decoration: none;
  color: #22202E;
  font-size: 24px;
}

.mobile-open-icon{
  display: none;
}
.menu{
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mobile-open-icon{
    display: block;
  }
  .menu{
   display: block;
    height: 100vh;

  }
  .menu nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px ;
  }
  .menu nav a{
    color: #726E8D;
    font-size: 20px;
    text-decoration: none;
  }
}