.header-content {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



.header-top-container{
 
  padding: 20px 20px;
  border-bottom: 1px solid #0000001A;
}



.header nav link {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;


}

.start-free-trial {
  display: flex;
  /* justify-content: space-between; Logo və bars arasında məsafəni bərabər edir */
  /* align-items: center; Dikey olaraq ortalayır */

}

.Log-in {
  background-color: #002D2D;
}


header nav {
  display: none;

}

header button {
  background-color: #008060;
  color: #fff;
  padding: 15px 30px;
  border-color: transparent;
  border-radius: 5px;
  display: none;
}

.header-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.avion{
  text-decoration: none;
  color: #22202E;
  font-size: 24px;
}