.popular-title{
    color: #2A254B;
    font-size: 32px;
    font-weight:400;
}
.popularcard-container{
    padding: 0 100px 100px;
}
.popular-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.popular-button button{
    height: 56px;
    width: 170px;
    background-color: #F9F9F9;
   font-size: 16px;
   color: #2A254B;
   border: none;
   outline: none;
   cursor: pointer;
}